<%= form_for(@rec, :html => { class: "form"}) do |f| %>
  <% if @rec.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rec.errors.count, "error") %> prohibited this rec from being saved:</h2>

      <ul>
      <% @rec.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :attachment %><br>
    <%= f.file_field :attachment, accept: 'image/jpeg,image/gif,image/png' %>
  </div>
  <div class="form-group">
    <%= f.label :company_id %> <%=link_to "new company", new_polymorphic_path(Company), placeholder: "Please select a company.",
        class: "small", :target => "_blank"%><br>
    <%= f.select :company_id, 
      selected_option(@rec.company),
      #options_for_select(Union.all.collect {|u| [u.name, u.id ]}, @rec.union_id) , 
      {
          include_blank: false,
      },
      data: { 
        url: companies_path
      }, 
      class: "ac-select2 form-control", 
      style: "width: 100%;"
    %>
  </div>

  <div class="form-group">
    <%= f.label :union_id %> <%=link_to "new union", new_polymorphic_path(Union), class: "small", :target => "_blank"%><br>
    <%= f.select :union_id, 
      selected_option(@rec.union),  
      {
          include_blank: false,
      },
      data: { 
        placeholder: "Please select a union.",
        url: unions_path
      }, 
      class: "ac-select2 form-control", 
      style: "width: 100%;"
    %>
  </div>
  <div class="form-group">
    <%= f.label :taking_action %><br>
    <%= f.check_box :taking_action, class: "switch", :data => { :size => 'small', 'on-text'=>'On', 'off-text'=>'Off', 'on-color'=>'danger'} %>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", placeholder: "Please describe the agreement e.g. Nestle Australia (Tongara Plant) And NUW Enterprise Agreement 2014" %>
  </div>
  
  <div class="form-group">
    <%= f.label :person_id %> <%=link_to "invite person", new_person_invitation_path, class: "small", :target => "_blank"%><br>
    <%= f.select :person_id,
      selected_option(@rec.person),
      {
          include_blank: false,
      },
      data: { 
        placeholder: "Please nominate a contact person.",
        url: people_path
      }, 
      class: "ac-select2 form-control", 
      style: "width: 100%;"
    %>
  </div>

  <!--
  <div class="form-group">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>
  -->
  <div class="form-group">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="form-group">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="form-group">
    <%= f.label :multi_site %><br>
    <%= f.check_box :multi_site, class: "switch", :data => { :size => 'small', 'on-text'=>'Yes', 'off-text'=>'No', 'on-color'=>'success'} %>
  </div>
  <div class="form-group">
    <%= f.label :coverage %><br>
    <%= f.text_area :coverage, class: "form-control", placeholder: "please detail the plant/sites and members being covered" %>
  </div>
  <div class="form-group">
    <%= f.label :nature_of_operation %><br>
    <%= f.select :nature_of_operation,
      nature_of_operation_options, 
      {
          include_blank: true,
      },
      data: { 
        placeholder: "Please select one or more operations, or add your own.",
      }, 
      multiple: true, 
      class: "ac-select2-tags form-control", 
      style: "width: 100%;"
    %>
  </div>
  <div class="form-group">
    <%= f.label :grievance_handling %><br>
    <%= f.check_box :grievance_handling, class: "switch", :data => { :size => 'small', 'on-text'=>'Yes', 'off-text'=>'No', 'on-color'=>'success'} %>
  </div>
  <div class="form-group">
    <%= f.label :grievance_handling_clause %><br>
    <%= f.text_area :grievance_handling_clause, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :union_mandate %><br>
    <%= f.check_box :union_mandate, class: "switch", :data => { :size => 'small', 'on-text'=>'Yes', 'off-text'=>'No', 'on-color'=>'success'} %>
  </div>
  <div class="form-group">
    <%= f.label :union_mandate_clause %><br>
    <%= f.text_area :union_mandate_clause, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :anti_precariat %><br>
    <%= f.check_box :anti_precariat, class: "switch", :data => { :size => 'small', 'on-text'=>'Yes', 'off-text'=>'No', 'on-color'=>'success'} %>
  </div>
  <div class="form-group">
    <%= f.label :anti_precariat_clause %><br>
    <%= f.text_area :anti_precariat_clause, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :specific_rights %><br>
    <%= f.check_box :specific_rights, class: "switch", :data => { :size => 'small', 'on-text'=>'Yes', 'off-text'=>'No', 'on-color'=>'success'} %>
  </div>
  <div class="form-group">
    <%= f.label :specific_rights_clause %><br>
    <%= f.text_area :specific_rights_clause, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :other_provisions %><br>
    <%= f.text_area :other_provisions, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit value: "Save Agreement", class: "btn btn-default"%>
  </div>
<% end %>
