<%= form_for(@rec, :html => { class: "form"}) do |f| %>
  <% if @rec.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rec.errors.count, "error") %> prohibited this rec from being saved:</h2>

      <ul>
      <% @rec.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :nature_of_employment %><br>
    <%= f.select :nature_of_employment,
      nature_of_employment_options, 
      {
          include_blank: true,
      },
      data: { 
        placeholder: "What's the main form of employment you wish to tell us about?",
      }, 
      class: "ac-select2 form-control", 
      style: "width: 100%;"
    %>
  </div>

  <div class="form-group">
    <%= f.label :when %><br>
    <%= f.text_area :when, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :financially_stable %><br>
    <%= f.check_box :financially_stable, class: "switch", :data => default_switch_options %>
  </div>

  <div class="form-group">
    <%= f.label :financially_stable_comment %><br>
    <%= f.text_area :financially_stable_comment, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :accommodation_secure %><br>
    <%= f.check_box :accommodation_secure, class: "switch", :data => default_switch_options %>
  </div>

    <div class="form-group">
    <%= f.label :accommodation_secure_comment %><br>
    <%= f.text_area :accommodation_secure_comment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :primary_carer %><br>
    <%= f.check_box :primary_carer, class: "switch", :data => default_switch_options %>
  </div>

  <div class="form-group">
    <%= f.label :primary_carer_comment %><br>
    <%= f.text_area :primary_carer_comment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :strained_family_life %><br>
    <%= f.check_box :strained_family_life, class: "switch", :data => default_switch_options %>
  </div>

  <div class="form-group">
    <%= f.label :strained_family_life_comment %><br>
    <%= f.text_area :strained_family_life_comment, class: "form-control" %>
  </div>

  
  <div class="form-group">
    <%= f.label :community_life %><br>
    <%= f.check_box :community_life, class: "switch", :data => default_switch_options %>
  </div>

  <div class="form-group">
    <%= f.label :community_life_comment %><br>
    <%= f.text_area :community_life_comment, class: "form-control" %>
  </div>

  
  <div class="form-group">
    <%= f.label :inflexible_hours %><br>
    <%= f.check_box :inflexible_hours, class: "switch", :data => default_switch_options %>
  </div>

  <div class="form-group">
    <%= f.label :inflexible_hours_comment %><br>
    <%= f.text_area :inflexible_hours_comment, class: "form-control" %>
  </div>

  
  <div class="form-group">
    <%= f.label :prefer_full_time %><br>
    <%= f.check_box :prefer_full_time, class: "switch", :data => default_switch_options %>
  </div>

  <div class="form-group">
    <%= f.label :prefer_full_time_comment %><br>
    <%= f.text_area :prefer_full_time_comment, class: "form-control" %>
  </div>

  
  <div class="form-group">
    <%= f.label :under_paid %><br>
    <%= f.check_box :under_paid, class: "switch", :data => default_switch_options %>
  </div>

  <div class="form-group">
    <%= f.label :under_paid_comment %><br>
    <%= f.text_area :under_paid_comment, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :not_paid %><br>
    <%= f.check_box :not_paid, class: "switch", :data => default_switch_options %>
  </div>

  <div class="form-group">
    <%= f.label :not_paid_comment %><br>
    <%= f.text_area :not_paid_comment, class: "form-control" %>
  </div>

  
  <div class="form-group">
    <%= f.label :on_visa %><br>
    <%= f.check_box :on_visa, class: "switch", :data => default_switch_options %>
  </div>

  <div class="form-group">
    <%= f.label :on_visa_comment %><br>
    <%= f.text_area :on_visa_comment, class: "form-control" %>
  </div>

  
  <div class="form-group">
    <%= f.label :poor_ohs %><br>
    <%= f.check_box :poor_ohs, class: "switch", :data => default_switch_options %>
  </div>

  <div class="form-group">
    <%= f.label :poor_ohs_comment %><br>
    <%= f.text_area :poor_ohs_comment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :noncompliant_employment %><br>
    <%= f.check_box :noncompliant_employment, class: "switch", :data => default_switch_options %>
  </div>

  <div class="form-group">
    <%= f.label :noncompliant_employment_comment %><br>
    <%= f.text_area :noncompliant_employment_comment, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :informally_employed %><br>
    <%= f.check_box :informally_employed, class: "switch", :data => default_switch_options %>
  </div>

  <div class="form-group">
    <%= f.label :informally_employed_comment %><br>
    <%= f.text_area :informally_employed_comment, class: "form-control" %>
  </div>
    
  <div class="form-group">
    <%= f.label :is_union %><br>
    <%= f.check_box :is_union, class: "switch", :data => default_switch_options %>
  </div>

  <div class="form-group">
    <%= f.label :host_employer %><br>
    <%= f.text_area :host_employer, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_area :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :industry %><br>
    <%= f.text_area :industry, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :solution %><br>
    <%= f.text_area :solution, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :summary %><br>
    <%= f.text_area :summary, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :is_anonymous %><br>
    <%= f.check_box :is_anonymous, class: "switch", :data => { :size => 'small', 'on-text'=>'Yes', 'off-text'=>'No', 'on-color'=>'success'} %>
  </div>

  <div class="actions">
    <%= f.submit value: "Save Submission", class: "btn btn-default"%>
  </div>
<% end %>
