<%= form_for(@rec, :html => { class: "form"}) do |f| %>
  <% if @rec.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rec.errors.count, "error") %> prohibited this rec from being saved:</h2>

      <ul>
      <% @rec.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :nature_of_employment %><br>
    <%= f.select :nature_of_employment,
      nature_of_employment_options, 
      {
          include_blank: true,
      },
      data: { 
        placeholder: "What's the main form of employment you wish to tell us about?",
      }, 
      class: "form-control", 
      style: "width: 100%;"
    %>
  </div>

  <div class="form-group">
    <%= f.label :when %><br>
    <%= f.select :when,
      when_options, 
      {
          include_blank: true,
      },
      data: { 
        placeholder: "When?",
      }, 
      class: "form-control", 
      style: "width: 100%;"
    %>
  </div>

  <% Rec.questions.each do |q| %> 
    <div class="form-group">
      <%= f.label q %><br>
      <%= f.check_box q, class: "switch", :data => default_switch_options %>
    </div>

    <div class="form-group">
      <%= f.label comment(q) %><br>
      <%= f.text_area comment(q), class: "form-control" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :is_union %><br>
    <%= f.check_box :is_union, class: "switch", :data => default_switch_options %>
  </div>

  <div class="form-group">
    <%= f.label :host_employer %><br>
    <%= f.text_field :host_employer, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :industry %><br>
    <%= f.text_field :industry, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :supermarket_supply %><br>
    <%= f.check_box :supermarket_supply, class: "switch", :data => { :size => 'small', 'on-text'=>'Yes', 'off-text'=>'No', 'on-color'=>'success'} %>
  </div>

  <div class="form-group">
    <%= f.label :advertised %><br>
    <%= f.text_field :advertised, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :solution %><br>
    <%= f.text_area :solution, class: "form-control" %>
  </div>

  <h3  style="margin-left: 0px;">
    Ok now, edit your submission
    <br/> <small>It your story, make it your own.  Is there anything else you want to add.</small>  
  </h3>
  <div class="form-group">
    <%= f.label :summary %><br>
    <%= f.text_area :summary, class: "form-control", rows: 10 %>
  </div>

  <h3 style="margin-left: 0px;">Your details
    <br/><small>We require your contact details for the inquiry but you can choose to remain anonymous.</small>
  </h3>

  <div class="form-group">
    <%= f.label :is_anonymous %><br>
    <%= f.check_box :is_anonymous, class: "switch", :data => { :size => 'small', 'on-text'=>'Yes', 'off-text'=>'No', 'on-color'=>'success'} %>
  </div>


  <%= f.fields_for :person do |p| %>
    <div class="form-group">
      <%= p.label :attachment %><br>
      <%= p.file_field :attachment, accept: 'image/jpeg,image/gif,image/png'  %>
    </div>
    <div class="form-group">
      <%= p.label :first_name %><br>
      <%= p.text_field :first_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= p.label :last_name %><br>
      <%= p.text_field :last_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= p.label :title %><br>
      <%= p.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= p.label :mobile %><br>
      <%= p.text_field :mobile, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= p.label :email %><br>
      <%= p.text_field :email, class: "form-control" %>
    </div> 
    <%=p.hidden_field :union_id %> <!-- TODO rec not person field being rendered -->
    <%=p.hidden_field :id %>
  <% end %>

  <%= f.hidden_field :union_id %>
  <div class="actions">
    <%= f.submit value: "Share your story", class: "btn btn-default"%>
  </div>
<% end %>

<script type='text/javascript'>
  function compile_story() {
    var story = "";
    story = "I was " + $("#rec_nature_of_employment").val();
    story += " " + $("#rec_when").val() + ".  ";
    
    <% Rec.questions.each do |q| %>
      <% if @rec[q] %>
        story += $('#rec_<%=comment(q)%>').val();
      <% end %>
    <% end %>
    
    if (!$('#rec_host_employer') === undefined)
      story += "  This happened at " + $("#rec_host_employer").val();
    
    if (!$('#rec_location') === undefined)
      story += ", " + $("#rec_host_location").val();
    
    if (!$('#rec_company_name') === undefined)
      story += " when I was employed by " + $("#rec_company_name").val() + ".  ";
    
    if ($('#rec_supermarket_supply').bootstrapSwitch('state'))
      story += "I was making goods for sale in supermarkets.";

    story += $('#rec_solution').val();

    $("#rec_summary").val(story); 
  };

  <% Rec.questions.each do |q| %>
    <% if @rec[q] %>
      $('#rec_<%=comment(q)%>').parent().hide();
      $('#rec_<%=comment(q)%>').blur(compile_story);
    <% end %>
  <% end %> 
  $('#rec_supermarket_supply').blur(compile_story);
  $('#rec_host_employer').blur(compile_story);
  $('#rec_host_location').blur(compile_story);
  $('#rec_solution').blur(compile_story);
  $('#rec_nature_of_employment').blur(compile_story);
  $('#rec_when').blur(compile_story);


</script>
