

<blockquote>
	<%= profile_picture(rec.person) %>
	<%="HIDDEN: <S>".html_safe unless rec.enabled %>
		<span class="ellipsis">
			<%= rec.summary.split("\r\n").collect { |i| "#{h i}<br/>" }.join.html_safe
	 %>
		</span>
	<%="</S>".html_safe unless rec.enabled %>
	
	<%=link_to "<span class=\"glyphicon glyphicon-pencil\"></span>".html_safe, rec_path(rec) if current_person %>

	<video id="vid" class="<%=ios_video(rec.attachment)%> video" style="<%='display:none;' unless rec.attachment.url %>" controls >
		<source id="vid-source" src="<%=rec.attachment.url%>"/>
		Your browser doesn't support HTML 5 video
	</video>

	<footer>
		<cite>
			<%= "#{rec.display_name}" %>
			<%=link_to "<span class=\"glyphicon glyphicon-pencil\"></span>".html_safe, edit_person_path(rec.person) if can_edit_union(rec.union) %>
		</cite> 
		<%="<small>submitted via #{rec.union.short_name}</small>".html_safe if current_person %>
		</footer>
</blockquote>
