<p id="notice"><%= notice %></p>
<hgroup>
  <h1 class="text-center">Thank you for your submission!</h1>
  <h3 class="text-center">Increase your impact by asking your friends and family to tell their story too</h3>
</hgroup>
<div style="text-align: center">
  <a style="display:inline-block" class="btn btn-primary" href="https://www.facebook.com/sharer/sharer.php?u=<%=CGI.escape "https://#{request.host}/#{@rec.union.short_name}?source=facebook&token=#{@rec.token}"%>" target='_blank'><img src="<%=image_path('facebook.png')%>" alt="Facebook Logo" height="30px">Share on Facebook</a>

  <a style="display:inline-block" class="text-center btn btn-primary" href="https://twitter.com/share?text=Help+bring+back+secure+jobs!&url=<%=CGI.escape "https://#{request.host}/#{@rec.union.short_name}?source=twitter&token=#{@rec.token}"%>"  target='_blank'><img src="<%=image_path('twitter.png')%>" alt="Facebook Logo" height="24px" style="margin: 3px;">Share on Twitter</a>
</div>

<%= render @rec %>
<%= render 'upload_video' %>
