<h1><%= union.call_to_action %></h1>

<p>
<%= union.explanation %>
</p>
<p>
<%= union.submissions_heading %>
</p>
<p>
<%=link_to "#{request.protocol}#{request.host}", "https://#{request.host}/#{locale}/#{union.short_name}/new"%>
</p>
<p>
Thanks<br/> 
<%= rec.person.first_name if rec %>