<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <%= render partial: "shared/lang_picker", locals: { display_class: "pull-right" } %>

    <hgroup>
      <h1><%=t("new_story_title")%></h1>
      <h4><%=t("new_story_subtitle")%></h4>
    </hgroup>

    <% if @union.union_rep.quote.url %>
      <div class="row">
        <blockquote>
          <p>
            <img src="<%=@union.union_rep.quote.url%>" />
            <%=@union.union_rep_quote%>
          </p>
          <footer>
            <cite><%=@union.union_rep_cite%></cite>
            <br/>
            <div class="text-right">
              <%=link_to t("new_story_read_all", count: Rec.count), all_union_path(id: @union.id) %>
            </div>
          </footer>
        </blockquote>

      </div>
    <% end %>
    
    

    <div style="margin-bottom: 3rem;">
      <h3 class='text-center'><%=t("new_story_explanation1")%></h3>

      <p class='text-center'>
        <%=t("new_story_explanation2")%></p>
    </div>

    <%= render 'form' %>
  </div>
</div>