  <p id="notice"><%= notice %></p>
  

  <div class="margins">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>
          Thank you for your submission!
          <br/><small>We are one voice closer to a deafening roar</small>
        </h1>
        <%=render @rec %>
        
        <div class="feedback">
        </div>
        
        <%= form_for(@rec, url: video_upload_rec_path(@token), :html => { multipart: true, id: 'fileupload',  class: "form", display: "none"}) do |f| %>
          <!-- requires javascript to switch on, for jquery file upload -->      
          <div class="bar-border" style="display:none; border-radius: 3px; border: 1px solid #aaa;width:100%; height:7px;">
            <div class="bar" style=" background-color: green; height: 6px; width:0%;"></div>
          </div>

          <div class="form-group file-button">
            <%= f.label :attachment, "Make you submission more compelling - Read it out on video" %><br>
            <%= f.file_field :attachment, accept: 'video/mov,video/mp4,video/ogg'  %>
          </div>

        <% end %>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var ready = function() {
      $("#fileupload").show();
      $("#fileupload").fileupload({
        datatype: 'json',
        add: function (e, data) {
          $(".file-button").hide();
          $('.bar-border').show();
          data.id = data.files[0].name;
          data.submit();
        }, 
        progress: function (e, data) {
          if (data.id) {
            progress = parseInt(data.loaded/data.total*90 /* withhold 10% for amazon s3 */, 10); 
            $('.bar').css('width', progress + '%');
          }
          console.log(progress);
        }, 
        done: function(e, data) {
          $("#vid-source").attr("src", data.result["url"]);
          $("#vid").show();
          $("#vid").load();
          $(".bar-border").hide();
          msg = "<p>We've got your video. Thanks!</p>"
          if (data.result["content_type"] == "video/mov" || data.result["content_type"] == "video/quicktime")
            msg += "<p> Unfortunately we can't publish it right away since its in apple format. But we'll get there eventually. </p>"

          $(".file-button").show();
          $(".feedback").html(msg);
        }
      });
      $("#vid").load();
          
      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) )
        $(":file").filestyle({iconName: "glyphicon glyphicon-record", input:false, buttonText: "click here to record", badge: false});
        else
          $(":file").filestyle({iconName: "glyphicon glyphicon-upload", input:false, buttonText: "drop and drag mp4 or ogg files here", badge: false});
    };

    $(document).ready(ready);
    $(document).on('page:load', ready);
  </script>