<p id="notice"><%= notice %></p>
<%= link_to current_person.follows?(@rec) ? "unfollow" : "follow", follow_rec_path(@rec), class: "btn btn-primary btn-follow-rec" %>
<%= render @rec %>
<%= render partial: 'posts/form' %>
<%= render @rec.posts %>

