<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<p id="notice"><%= notice %></p>
		<%= link_to current_person.follows?(@rec) ? "unfollow" : "follow", follow_rec_path(@rec), class: "btn btn-primary btn-follow-rec" %>
		<%= link_to 'edit submission', edit_rec_path(@rec), class: "btn btn-default"  if can_edit_union(@rec.union) %>
		<%= render @rec %>
		<%= render 'upload_video' if can_edit_union(@rec.union) %>
		<%= render partial: 'posts/form' %>
		<%= render @rec.posts %>
	</div>
</div>