<div class="col-sm-8 col-sm-offset-2"/>

	<h2 class="no-left-margin"><%= t 'devise.invitations.edit.header' %></h2>

	<div>
		<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put }, class: "form" do |f| %>
		  <%= devise_error_messages! %>
		  <%= f.hidden_field :invitation_token %>

		  <p><%= f.label :password %><br />
		  <%= f.password_field :password, class: "form-control" %></p>

		  <p><%= f.label :password_confirmation %><br />
		  <%= f.password_field :password_confirmation, class: "form-control" %></p>

		  <p><%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-default" %></p>
		<% end %>
	</div>
</div>