<div class="col-sm-8 col-sm-offset-2"/>

	<h2 class="no-left-margin"><%= t "devise.invitations.new.header" %></h2>
	<div class="margins">
		<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post}, class: 'form' do |f| %>
		  <%= devise_error_messages! %>
		  <% @person=resource %> 
			<%=render partial: 'people/form_fields', locals: { f: f} %>

		  <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
		<% end %>
	</div>
</div>