  <div class="form-group">
    <%= f.label :attachment, "Profile picture" %><br>
    <%=profile_image%>
    <%= f.file_field :attachment, accept: 'image/jpeg,image/gif,image/png'  %>
  </div>
  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :gender %><br>
    <%= f.select :gender,
      gender_options(@person), 
      {
          include_blank: true,
      },
      data: { 
        placeholder: "Gender",
      }, 
      class: "form-control", 
      style: "width: 100%;"
    %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_area :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :fax %><br>
    <%= f.text_field :fax, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <% if current_person.union.id == owner_union.id %>
      <%= f.label :union_id %> <%=link_to "new union", new_polymorphic_path(Union), class: "small", :target => "_blank"%><br>
      <%= f.select :union_id, 
        selected_option(@person.union || current_person.union),  
        {
            include_blank: false,
        },
        data: { 
          placeholder: "Please select a union.",
          url: unions_path
        }, 
        class: "ac-select2 form-control", 
        style: "width: 100%;"
      %>
    <% else %>
      <%= f.label :union_id %> 
      <br/><%= (@person.union || current_person).name %>
      <br/><small>you can only invite people from your own union</small>
      <% f.hidden_field :union_id, value: (@person.union || current_person.union) %>
    <% end %>
  </div>