<div class="col-sm-8 col-sm-offset-2"/>
  <p id="notice"><%= notice %></p>
  <%= link_to 'Invite a colleague', new_person_invitation_path, class: "btn btn-default pull-right" %>
  <% unless @invited.blank? %>
    <h2 class="no-left-margin">Invited</h2>
    <table class="table table-condensed table-striped box-shadow">
      <thead>
        <tr>
          <th>Union</th>
          <th>Person</th>
          <th>Title</th>
        	<th>Invited By</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @invited.each do |person| %>
          <tr class="">
            <td><%=render person.union if person.union%></td>
            <td><%=render person %></td>
            <td><%=person.title %></td>
            <td><%=person.invited_by.display_name if person.invited_by %></td>
            <td><span class="glyphicon glyphicon-envelope"></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% unless @not_invited.blank? %>
    <hr/>
    <h2 class="no-left-margin">Not invited</h2>
    <table class="table table-condensed table-striped box-shadow">
      <thead>
        <tr>
          <th>Union</th>
          <th>Person</th>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @not_invited.each do |person| %>
          <tr class="">
            <td><%=render person.union if person.union%></td>
            <td><%=render person %></td>
            <td><%=person.title %></td>
            <td><%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe, person, :method => :delete, :confirm => "Are you sure?" if can_edit_union(person.union) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
