<%= form_for(@supergroup, :html => { class: "form"}) do |f| %>
  <% if @supergroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supergroup.errors.count, "error") %> prohibited this supergroup from being saved:</h2>

      <ul>
      <% @supergroup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="form-group">
    <%= f.label :logo, "Logo" %><br>
    <%= f.file_field :logo, accept: 'image/jpeg,image/gif,image/png'  %>
  </div>
  <div class="form-group">
    <%= f.label :banner, "Banner" %><br>
    <%= f.file_field :banner, accept: 'image/jpeg,image/gif,image/png'  %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :short_name %><br>
    <%= f.text_field :short_name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :www %><br>
    <%= f.text_field :www, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :call_to_action %><br>
    <%= f.text_field :call_to_action, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :explanation %><br>
    <%= f.text_area :explanation, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :action1 %><br>
    <%= f.text_field :action1, class: "form-control" %>
  </div>


  <div class="field">
    <%= f.label :submissions_heading %><br>
    <%= f.text_field :submissions_heading, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :background_color %><br>
    <%= f.text_field :background_colour, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :font_color %><br>
    <%= f.text_field :font_colour, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
