<p id="notice"><%= notice %></p>

<h2><%= supergroups.titlecase %></h2>

<%= link_to "New #{supergroup.titlecase}", new_polymorphic_path(@klass), class: "btn btn-default pull-right" %>

<% unless @supergroups.blank? %>
  <table class="table table-condensed table-striped box-shadow">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Www</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @supergroups.each do |supergroup| %>
        <tr>
          <td><%= supergroup.name %></td>
          <td><%= supergroup.type %></td>
          <td><%= supergroup.www %></td>
          <td><%= link_to 'Show', supergroup %></td>
          <td><%= link_to 'Edit', edit_polymorphic_path(supergroup) %></td>
          <td><%= link_to 'Destroy', supergroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
