Hi <%=@person.first_name%>

<p>
Thank you for your submission!
<% if @rec.person.volunteer %> 
And thanks for offering to volunteer, hopefully someone will contact you soon.
<% end %>

<p>And sorry for the error you received - I messed up.  You should have seen a thank you screen that contains the following info.  If you have any other feedback please email me - Luke Rohde, lukerohde@gmail.com
</p>

</p>
<p>
The public URL for it is here 
<%=link_to review_rec_url(id: @rec.token), review_rec_url(id: @rec.token)%>
</p>

<p>

Increase your impact by asking your friends and family to tell their story too...
</p>
<p>

<%=link_to "Share on Facebook", facebook_share_rec_url(@rec.union, @rec.token, @request)%>
</p>
<p>

<%=link_to "Share on Twitter", twitter_share_rec_url(@rec.union, @rec.token, @request)%>
</p>
<p>

Or forward a version of the following message 
</p>
<%=render partial: 'recs/share_mail.html',  locals: {union: @rec.union, referrer: @rec.token, rec: @rec, request: @request} %>