<%= form_for(@supergroup, :html => { class: "form"}) do |f| %>
  <% if @supergroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supergroup.errors.count, "error") %> prohibited this supergroup from being saved:</h2>

      <ul>
      <% @supergroup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :enabled %><br>
    <%= f.check_box :enabled, class: "union_switch", :data => { :size => 'large', 'on-text'=>'Yes', 'off-text'=>'No', 'on-color'=>'success'} %>
  </div>
  <ul id="union_urls">
  </ul>
   <div class="form-group">
    <%= f.label :logo, "Logo" %><br>
    <%= f.file_field :logo, accept: 'image/jpeg,image/gif,image/png'  %>
  </div>
  <div class="form-group">
    <%= f.label :banner, "Banner" %><br>
    <%= f.file_field :banner, accept: 'image/jpeg,image/gif,image/png'  %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :short_name %><br>
    <%= f.text_field :short_name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :www %><br>
    <%= f.text_field :www, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :call_to_action %><br>
    <%= f.text_field :call_to_action, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :explanation %><br>
    <%= f.text_area :explanation, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :action1 %><br>
    <%= f.text_field :action1, class: "form-control" %>
  </div>


  <div class="field">
    <%= f.label :submissions_heading %><br>
    <%= f.text_field :submissions_heading, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :background_color %><br>
    <%= f.text_field :background_colour, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :font_color %><br>
    <%= f.text_field :font_colour, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :union_rep %><br>
    <%= f.file_field :union_rep, accept: 'image/jpeg,image/gif,image/png'  %>
  </div>
  
  <div class="form-group">
    <%= f.label :union_rep_quote %><br>
    <%= image_tag @union.union_rep.quote.url if @union.union_rep.quote.url %><br>
    <%= f.text_area :union_rep_quote, class: "form-control"   %>
  </div>

  <div class="form-group">
    <%= f.label :union_rep_cite %><br>
    <%= f.text_field :union_rep_cite, class: "form-control"   %>
  </div>

  <%=field_set_tag t("Social media config") do %>
    <div class="form-group">
      <%= f.label "Facebook will show the union's call_to_action and explanation text" %>
      <%= f.label :facebook_image %><br>
      <%= f.file_field :facebook_image, accept: 'image/jpeg,image/gif,image/png'  %><br>
    </div>
    
    <div class="form-group">
      <%= f.label :hashtags %><br>
      <%= f.text_field :hashtags, class: "form-control"   %>
    </div>

    <div class="form-group">
      <%= f.label :tweet %><br>
      <%= f.text_field :tweet, class: "form-control"   %>
    </div>

    <div class="actions">
      <%= f.submit class: "btn btn-default" %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  function configure_url_display() {
    $("#union_urls").html("");
    $("#union_urls").append("<li>"+ window.location.origin + "/" + $("#union_short_name").val()+"</li>");
    $("#union_urls").append("<li>"+ window.location.origin + "/" + $("#union_short_name").val()+"/new</li>");
    $("#union_urls").append("<li>"+ window.location.origin + "/embed/" + $("#union_short_name").val()+"</li>");
    $("#union_urls").append("<li>"+ window.location.origin + "/embed/" + $("#union_short_name").val()+"/new</li>");
  }
<% if @supergroup.enabled %>  
  configure_url_display();
<% end %>
</script>
