<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-right">
      <%= link_to "New #{supergroup.titlecase}", new_polymorphic_path(@klass), class: "margins btn btn-default" if owner? %>
  </div>
  <div class="col-sm-8 col-sm-offset-2">
    <% unless @supergroups.blank? %>
      <table class="table table-condensed table-striped box-shadow">
        <thead>
          <tr>
            <th>Union</th>
            <th>www</th>
            <th>Submissions</th>
          </tr>
        </thead>

        <tbody>
          <% @supergroups.each do |supergroup| %>
            <tr class="">
              <td style="vertical-align: middle"><%=render supergroup %> <%=link_to supergroup.name, union_path(supergroup) %></td>
              <td style="vertical-align: middle"><%=link_to supergroup.www, "http://#{supergroup.www}"%></td>
              <td class="text-right" style="vertical-align: middle;"><%=supergroup.recs.count()%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
