<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   


  <title>IUF Agreement Database Dairy Division</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  

  <h1><img style="display:inline; max-width:100px; margin-top: 0"
     src="<%=image_path('iuf_logo.png')%>">IUF Agreement Database<small> Dairy Division</small></h1>

<div class="container-fluid content-area">
	<%= yield %>
</div>

</body>
</html>
