<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<% if @union %>
		<!-- For facebook -->
		<meta property="og:title" content="Help bring back secure jobs" />
		<meta property="og:type" content="article" />
		<meta property="og:image" content="<%=@union.union_rep.quote.url%>" />
		<meta property="og:url" content="<%="#{request.protocol}#{request.host}/#{@union.short_name}"%>" />
		<meta property="og:description" content="<%=@union.explanation%>" />
	<% end %>

	<title><%=ENV['APP_TITLE']%></title>

	<!-- Google fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/navbar" %>
	<div class="container-fluid content-area">
		<%= yield %>
	</div>
</body>
</html>
